* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vollkorn", serif;
  list-style: none;
  text-decoration: none;
  outline: none;
}
html {
  font-size: 62.5%;
}

:root {
  --primaty-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}
.web-container {
  margin: 3.5rem;
  box-shadow: 1rem 1rem 3rem #777;
  overflow: hidden;
  background-color: var(--secondary-color);
  position: relative;
}

/* navbar */
.nav-btn {
  width: 5rem;
  height: 5rem;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.open-btn {
  position: fixed;
  z-index: 30;
  top: 5rem;
  left: 5rem;
}
.change .open-btn {
  display: none;
}
.bar {
  width: 3rem;
  margin: 0.3rem;
  height: 0.25rem;
  background-color: var(--light-grey-color);
  border-radius: 0.1rem;
}
.nav-container {
  position: relative;
  height: calc(100vh - 7rem);
  width: calc(100vw - 8.6rem);
  position: fixed;
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/navbar-bg.jpg) center no-repeat;
  background-size: cover;
  margin-right: 3.5rem;
  margin-bottom: 3.5rem;
  bottom: -100%;
  overflow: hidden;
}
.change .nav-container {
  bottom: 0;
}
.close-btn {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  z-index: 40;
}
.bar1 {
  transform: rotate(-45deg) translate(-0.3rem, 0.4rem);
}
.bar2 {
  transform: rotate(45deg) translate(-0.3rem, -0.35rem);
}
.nav-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 20;
}

.nav-links a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  opacity: 0.8;
  position: relative;
  top: -100%;
}
.nav-links a:hover {
  color: var(--primaty-color);
  opacity: 1;
}
.change .nav-links a {
  top: 0;
}
.nav-links a:nth-child(1) {
  background-color: #1f7a8c;
}
.nav-links a:nth-child(2) {
  background-color: #f5e663;
}
.nav-links a:nth-child(3) {
  background-color: #fdc5f5;
}
.nav-links a:nth-child(4) {
  background-color: #ed474a;
}
.nav-links a:nth-child(5) {
  background-color: #38e4ae;
}
.change .nav-links a:nth-child(1) {
  transition: top 1s 0.4s;
}
.change .nav-links a:nth-child(2) {
  transition: top 1s 0.6s;
}
.change .nav-links a:nth-child(3) {
  transition: top 1s 0.8s;
}
.change .nav-links a:nth-child(4) {
  transition: top 1s 1s;
}
.change .nav-links a:nth-child(5) {
  transition: top 1s 1.2s;
}
/* end of navbar */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(
      rgba(24, 112, 228, 0.507),
      rgba(35, 98, 216, 0.534)
    ),
    url(./images/header-bg.jpg) center no-repeat;
  background-size: cover;
  height: calc(100vh - 7rem);
  perspective: 100rem;
}
.header-text {
  color: var(--white-color);
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.5rem var(--grey-color);
}
.header-text h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.header-text p {
  font-size: 1.5rem;
  max-width: 55rem;
  margin: auto;
  letter-spacing: 0.1rem;
}

.logo {
  position: absolute;
  right: 1rem;
  top: 3rem;
  display: flex;
}
.logo span {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primaty-color);
  background-color: var(--white-color);
  padding: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span:nth-child(1) {
  animation: logo-moving 5s 0.1s infinite;
}
.logo span:nth-child(2) {
  animation: logo-moving 5s 0.2s infinite;
}
.logo span:nth-child(3) {
  animation: logo-moving 5s 0.3s infinite;
}
.logo span:nth-child(4) {
  animation: logo-moving 5s 0.4s infinite;
}
.logo span:nth-child(5) {
  animation: logo-moving 5s 0.5s infinite;
}
.logo span:nth-child(6) {
  animation: logo-moving 5s 0.6s infinite;
}
.logo span:nth-child(7) {
  animation: logo-moving 5s 0.7s infinite;
}

@keyframes logo-moving {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.image-header {
  width: 35%;

  animation: baloon 300s 3s infinite;
}

@keyframes baloon {
  0% {
    transform: translateZ(-10rem);
  }
  30% {
    transform: translateZ(-300rem) translateX(200rem);
    opacity: 0.8;
  }
  50% {
    transform: translateZ(-1000rem) translateX(600rem);
    opacity: 0.5;
  }
  80% {
    transform: translateZ(-400rem) translateX(100rem);
    opacity: 0.8;
  }
  100% {
    transform: translateZ(-10rem);
  }
}

/* popular tours */
#tours {
  padding: 5rem 0 10rem 0;
}
.tours-header {
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0;
  text-transform: uppercase;
  color: var(--primaty-color);
  text-shadow: 0.1rem 0.1rem 0.5rem var(--light-grey-color);
}
.tours-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.tours-item {
  width: 30rem;
  position: relative;
  perspective: 150rem;
}
.front-card img {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.front-card {
  text-align: center;
  position: relative;
  background-color: var(--white-color);
  z-index: 10;
  border-radius: 0.3rem;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.change > .front-card {
  z-index: 0;
  transform: translateZ(-5rem) translateX(3rem);
  opacity: 0.5;
  box-shadow: 0 0 2rem var(--light-grey-color);
}

.front-card h1 {
  position: absolute;
  right: 1rem;
  top: 32%;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0.1rem 0.1rem 0.5rem var(--grey-color);
  font-size: 1.7rem;
}
.front-card ul {
  margin: auto;
  width: 60%;
  padding: 2rem 0 3rem 0;
}
.front-card ul li {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: var(--light-grey-color);
  border-bottom: 0.12rem solid var(--primaty-color);
  padding-bottom: 1.5rem;
}
.back-card {
  position: absolute;
  top: 0;
  background-color: var(--primaty-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
  transform: translateZ(-5rem) translateX(3rem);
  opacity: 0.5;
  box-shadow: 0 0 2rem var(--light-grey-color);
  transition: all 0.3s ease;
}
.change > .back-card {
  transform: translateZ(0) translateX(0);
  opacity: 0.9;
  box-shadow: none;
}
.back-card h1 {
  font-size: 4rem;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.booking {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  color: var(--primaty-color);
}
.tours-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: none;
  padding: 0.2rem;
  opacity: 0.8;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
/* end of popular tours */

/* story */
.story {
  padding: 5rem 0;
  position: relative;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-bg {
  background-color: var(--white-color);
  padding: 5rem;
  margin: 5rem;
  width: 70%;
  opacity: 0.8;
  transform: skew(20deg);
}
.story-item {
  display: flex;
  transform: skew(-20deg);
}
.story-item img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}
.story-text {
  letter-spacing: 0.1rem;
}
.story-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
}
.story-text p {
  font-size: 1.5rem;
  color: var(--grey-color);
}
.story-text p::first-letter {
  margin-left: 1rem;
}
/* end of story */

/* contact  */
#contact {
  padding: 10rem 0;
  text-align: center;
  background: url(./images/contact-us-bg.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 30s infinite;
}
#contact h1 {
  color: var(--white-color);
  font-size: 7rem;
  text-transform: uppercase;
  margin: 3rem 0;
  text-shadow: 0 1rem 2rem #000;
}
.contact-container {
  background-color: rgba(255, 255, 255, 0.973);
  padding: 5rem;
  height: 40rem;
  width: 60rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}
.input-contact {
  width: 100%;
  padding: 3rem 0 2rem 0.5rem;
}
.input-contact,
.message {
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease;
}
.input-contact:focus,
.message:focus {
  border: 0.1rem solid var(--light-grey-color);
}
.input-group label {
  position: absolute;
  margin: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--grey-color);
}

.message {
  min-height: 8rem;
  min-width: 100%;
  max-width: 100%;
  padding: 3rem 0 2rem 0.5rem;
  max-height: 13rem;
}
.input-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-groups .input-group {
  width: 48.5%;
}
.contact-btn {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--light-grey-color);
  color: var(--white-color);
  transition: all 0.2s ease;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.contact-btn:hover {
  background-color: var(--grey-color);
}
@keyframes contact-bg {
  0% {
    background-color: #9e9d9d;
  }
  25% {
    background-color: rgb(91, 174, 241);
  }
  50% {
    background-color: rgb(236, 133, 245);
  }
  75% {
    background-color: rgb(236, 104, 86);
  }
  100% {
    background-color: #9e9d9d;
  }
}

/* end of contact */

/* footer */
#footer {
  text-align: center;
  background-color: var(--grey-color);
  padding: 2rem 0;
}
.footer-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90rem;
  margin: 2rem auto;
}
.footer-link li {
  font-size: 1.5rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  background-color: var(--grey-color);
  transition: all 0.2s ease;
  cursor: pointer;
}
.footer-link li:hover {
  transform: rotate(-10deg);
  box-shadow: 0rem 2rem 3rem #000;
}
#footer h1 {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
/* end of footer */
@media (max-width: 1200px) {
  .tours-container {
    flex-direction: column;
    align-items: center;
  }
  .tours-item {
    margin: 3rem 0;
  }
  .header-text {
    width: 40rem;
  }
}
@media (max-width: 970px) {
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .tours-header {
    font-size: 4rem;
  }
  .story-bg {
    transform: skew(0);
    padding: 3rem;
  }
  .story-item {
    transform: skew(0);
    flex-direction: column;
    align-items: center;
  }
  .story-item img {
    margin: 0 0 2rem 0;
  }
  .footer-link {
    width: 60rem;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 45%;
  }
  .nav-links a {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .contact-container {
    height: 40rem;
    width: 50rem;
  }
  .footer-link {
    width: 40rem;
  }
}
